## Deliverable 2. Create a Customer Travel Destinations Map.

In [24]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [25]:
# 1. Import the WeatherPy_database.csv file.

city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,715,Barrow,US,71.2906,-156.7887,30.22,93,90,13.80,mist
1,716,Sorland,NO,67.6670,12.6934,64.47,84,95,4.65,overcast clouds
2,717,Bluff,NZ,-46.6000,168.3333,46.65,84,79,8.55,broken clouds
3,718,Ushuaia,AR,-54.8000,-68.3000,37.53,96,100,8.66,light rain
4,719,Husavik,IS,66.0449,-17.3389,54.03,60,96,11.65,overcast clouds

In [26]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [27]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,721,Port Blair,IN,11.6667,92.7500,83.88,77,100,11.03,overcast clouds
7,722,Jalu,LY,29.0331,21.5482,82.20,19,0,7.02,clear sky
8,723,Butaritari,KI,3.0707,172.7902,81.81,73,25,4.97,light rain
10,725,Lata,PT,40.1629,-8.3327,76.05,58,0,5.35,clear sky
16,731,North Myrtle Beach,US,33.8160,-78.6800,78.85,69,100,9.57,light rain
23,738,Havelock,US,34.8791,-76.9013,85.98,79,100,5.01,overcast clouds
26,741,Rikitea,PF,-23.1203,-134.9692,76.71,84,100,15.05,overcast clouds
31,746,Kapaa,US,22.0752,-159.3190,80.58,72,23,1.01,few clouds
33,748,Atuona,PF,-9.8000,-139.0333,79.70,64,71,8.37,broken clouds
35,750,Bandarbeyla,SO,9.4942,50.8122,80.58,82,0,28.14,clear sky

In [28]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                226
City                   226
Country                226
Lat                    226
Lng                    226
Max Temp               226
Humidity               226
Cloudiness             226
Wind Speed             226
Current Description    226
dtype: int64

In [29]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,721,Port Blair,IN,11.6667,92.7500,83.88,77,100,11.03,overcast clouds
7,722,Jalu,LY,29.0331,21.5482,82.20,19,0,7.02,clear sky
8,723,Butaritari,KI,3.0707,172.7902,81.81,73,25,4.97,light rain
10,725,Lata,PT,40.1629,-8.3327,76.05,58,0,5.35,clear sky
16,731,North Myrtle Beach,US,33.8160,-78.6800,78.85,69,100,9.57,light rain
...,...,...,...,...,...,...,...,...,...,...
699,1414,Semporna,MY,4.4818,118.6112,78.35,88,100,5.46,overcast clouds
703,1418,San Andres,CO,12.5847,-81.7006,87.82,74,40,16.11,scattered clouds
710,1425,Wilmington,US,34.2257,-77.9447,82.99,79,1,9.22,clear sky
711,1426,Vaitape,PF,-16.5167,-151.7500,80.74,74,23,11.05,few clouds
713,1428,Quibdo,CO,5.6947,-76.6611,84.70,83,95,3.74,overcast clouds

In [30]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Port Blair,IN,83.88,overcast clouds,11.6667,92.7500,
7,Jalu,LY,82.20,clear sky,29.0331,21.5482,
8,Butaritari,KI,81.81,light rain,3.0707,172.7902,
10,Lata,PT,76.05,clear sky,40.1629,-8.3327,
16,North Myrtle Beach,US,78.85,light rain,33.8160,-78.6800,
23,Havelock,US,85.98,overcast clouds,34.8791,-76.9013,
26,Rikitea,PF,76.71,overcast clouds,-23.1203,-134.9692,
31,Kapaa,US,80.58,few clouds,22.0752,-159.3190,
33,Atuona,PF,79.70,broken clouds,-9.8000,-139.0333,
35,Bandarbeyla,SO,80.58,clear sky,9.4942,50.8122,

In [31]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [32]:
hotel_df.count()

City                   226
Country                226
Max Temp               226
Current Description    226
Lat                    226
Lng                    226
Hotel Name             226
dtype: int64

In [33]:
# 7. Drop the rows where there is no Hotel Name.
# No rows to drop.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Port Blair,IN,83.88,overcast clouds,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
7,Jalu,LY,82.20,clear sky,29.0331,21.5482,صاحبة الفخامة
8,Butaritari,KI,81.81,light rain,3.0707,172.7902,Isles Sunset Lodge
10,Lata,PT,76.05,clear sky,40.1629,-8.3327,Casa Maquia
16,North Myrtle Beach,US,78.85,light rain,33.8160,-78.6800,Avista Resort
...,...,...,...,...,...,...,...
699,Semporna,MY,78.35,overcast clouds,4.4818,118.6112,"Han Palace Hotel, Semporna, Sabah."
703,San Andres,CO,87.82,scattered clouds,12.5847,-81.7006,Hotel Arena Blanca
710,Wilmington,US,82.99,clear sky,34.2257,-77.9447,"Hotel Ballast Wilmington, Tapestry Collection ..."
711,Vaitape,PF,80.74,few clouds,-16.5167,-151.7500,Conrad Bora Bora Nui
713,Quibdo,CO,84.70,overcast clouds,5.6947,-76.6611,Hotel Angeles

In [34]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the hotel_df into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [35]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [36]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))